Package: phi-adapter-z2m
Version: 0.0~git20260218.56b776d-1
Architecture: arm64
Maintainer: Marius Schumacher <marius.schumacher@phisys.com>
Installed-Size: 1066
Depends: libc6 (>= 2.38), libgcc-s1 (>= 3.0), libmosquitto1 (>= 1.0), libqt6core6t64 (>= 6.8.2), libqt6network6 (>= 6.1.2), libstdc++6 (>= 5)
Recommends: mosquitto
Section: libs
Priority: optional
Homepage: https://github.com/phi-systems-tech/phi-adapter-z2m
Description: PHI Zigbee2MQTT adapter plugin
 Plugin module for PHI core to integrate Zigbee2MQTT via MQTT.
